USE [master]
GO
/****** Object:  Database [DbSecim]    Script Date: 17.02.2021 13:06:55 ******/
CREATE DATABASE [DbSecim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSecim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbSecim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbSecim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbSecim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSecim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSecim]
GO
/****** Object:  Table [dbo].[TblIlce]    Script Date: 17.02.2021 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblIlce](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[IlceAd] [nchar](20) NULL,
	[AParti] [smallint] NULL,
	[BParti] [smallint] NULL,
	[CParti] [smallint] NULL,
	[DParti] [smallint] NULL,
	[EParti] [smallint] NULL
) ON [PRIMARY]
GO
USE [master]
GO
